<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinhKaWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA9AE6F3217082D900AD9712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9AE707217082D900AD9712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9AE712217082D900AD9712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
